@font-face {
    src: url("static/JosefinSans-Bold.ttf");
    font-family: josefin;
}

@font-face {
    src: url("Jost\Jost-VariableFont_wght.ttf");
    font-family: jost;
}

:root {
    --kprimary: rgb(22, 22, 22);
    --kprimary2: rgb(32, 32, 37);
    --kprimary3: rgba(255, 255, 255, 0.966);
    --kheadings: rgba(255, 255, 255, 0.966);
}

html {
    min-height: 100%;
    background-color: rgb(22, 22, 22);
}

body {
    background-color: var(--kprimary);
    color: var(--kprimary3);
    overflow-x: hidden;
}

.dark-bg {
    background-color: var(--kprimary2);
}

h3, i, a {
    color: var(--kheadings);
}

.progress-custom {
    background-color: var(--kprimary2);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.light-bg {
    background-color: var(--kprimary3);
}

.custom_cursor {
    width: 30px;
    height: 30px;
    border: 2px solid var(--kheadings);
    opacity: 2;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    z-index: 10;
    transition-timing-function: ease-out;
    animation: cursorAnim 0.5s infinite alternate;
    transition-duration: 200ms;
}

.custom_cursor::after {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border: 7px solid var(--kheadings);
    opacity: 0.7;
    top: -8px;
    left: -7.5px;
    animation: cursorAnim2 0.5s infinite alternate;
}

.expand {
    animation: cursorAnim3 .5s forwards;
    position: absolute;
    left: 5px;
    top: 5px;
}

@keyframes cursorAnim {
    from {
        transform: scale(1.2);
    }

    to {
        transform: scale(0.8);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(0.9);
    }

    to {
        transform: scale(0.8);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.mypic {
    height: 300px;
    width: 300px;
    box-shadow: 0 0 0 1vw var(--kprimary), 0 0 0 1.2vw var(--kheadings);
    transition: 0.5s;
}

.mypic:hover {
    box-shadow: 0 0 0 1vw var(--kprimary), 0 0 10px 1.2vw var(--kheadings), 0 0 40px 1.6vw var(--kheadings);
}

.btn-light, .btn-light:active, .btn-light:visited, .btn-light:hover{
    background-color: var(--kprimary2) !important;
    color: var(--kprimary3);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--kprimary);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px var(--kheadings);
    box-shadow: inset 0 0 10px var(--kheadings);
}
